#home {
  background-image: url("../../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.home-container {
  margin: 0% 8%;
  height: 100vh;
  position: relative;
}

.heading1 {
  position: absolute;
  top: 35%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 2rem;
  color: rgb(255, 255, 255);
}

.heading2 {
  position: absolute;
  top: 50%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 5rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1;
}

.heading3 {
  position: absolute;
  top: 80%;
  margin-left: 2%;
  margin-right: 2%;
  font-weight: bolder;
  font-style: italic;
  font-size: 1.5rem;
  color: white;
  letter-spacing: -10px;
}

.span {
  color: #ed8c22;
}

.span2 {
  color: #ed8c22;
  font-size: 2.2rem;
  margin-left: -5px;
}

.searchbar {
  position: absolute;
  top: 90%;
  width: 50%;
  margin: 0% 25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchinput {
  width: 100%;
  height: 5vh;
  opacity: 0.7;
  padding: 1rem;
  border-style: none;
  border: 0px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

/* .searchinput:active{
    border: 0px solid;
} */

.searchbutton {
  width: 8%;
  height: 5vh;
  background-color: #ed8c22;
  border-style: none;
  border: 0px;
  cursor: pointer;
}

.searchbutton:hover {
  opacity: 0.5;
  transition: all 0.4s ease-in-out;
}
