#equipmentandfacilities {
  height: 100vh;
  width: 100%;
}

.ef-container {
  background-image: url("../../assets/equipmentfacilities.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 8%;
  height: 100vh;
  position: relative;
}

.ef-content {
  position: relative;
  top: 30%;
  left: 15%;
  display: flex;
  flex-direction: column;
  width: 50%;
  
}

.ef-content p {
  margin-top: 3%;
  font-weight: 500;
  color: rgb(255, 255, 255);
  font-size: 2.5rem;

}

.ef-content button {
  cursor: pointer;
  margin-top: 3%;
  background-color: transparent;
  color: #ed8c22;
  border: 0px;

  display: none;
}

.ef-content button:hover {
  opacity: 0.8;
  transition: 0.8s all ease-in-out;
}

.hover-effect:hover {
  background-color: rgb(255, 255, 255);
  opacity: 0.8;
  transition: all 0.4s ease-in-out;
}

.ef-container:hover button {
  display: inline-block;
  transition: all 0.8s ease-in-out;
}

