.navbar {
  width: 100%;
  height: 11.2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: absolute;

  /* border: 2px solid red; */
}

.navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;

  /* border: 2px solid red; */
}

.logo {
  position: absolute;
  z-index: 1;
  margin-top: 50px;
  width: 220px;
  height: 80px;

  /* border: 2px solid red; */
}

.navbar-links {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin: 0 0 0 15%;
  color: rgb(0, 0, 0);
  font-weight: bold;

  /* border: 2px solid red; */
}

.links {
  margin: 0px 25px 0px 25px;
  cursor: pointer;
  padding: 2px;
  font-size: 0.8rem;
  color: rgb(0, 0, 0);
  font-weight: bold;


  /* border: 2px solid red; */
}

.labels {
  color: rgb(0, 0, 0);
  text-decoration: none;
  flex-direction: column;
  text-transform: uppercase;
  font-weight: 700;
 
  /* border: 2px solid red; */
}

.labels:hover {
  color: rgb(0, 0, 0);
  font-weight: bolder;

  /* border: 2px solid red; */
}

.dropdownmenu {
  position: absolute;
  top: 70%;
  left: 61%;
  list-style: none;
  
  /* border: 2px solid red; */
}

.dropdownitem{
  display: flex;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  background-color: #ED8C22;
  width: 200%;
  padding: 10px;
  opacity: 0.7;

  /* border: 2px solid red; */

}

.svg {
  height: 18px;
  width: 18px;
  position: absolute;
  bottom: 40px;
  right: 100%;

  /* border: 2px solid red; */
}
