/* .footer{ */
    /* width: 100%;
  height: 11.2vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  position: absolute;
  z-index: 1; */

  /* background-image: url("../../assets/home.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%; */
/* } */

/* .f-container{ */
    /* border: 2px solid red;
    margin: 0% 8%; */
  /* height: 100vh; */
  /* position: relative; */

/* } */