#technicalcapbiities {
  height: 100vh;
  width: 100%;
}

.tc-container {
  margin: 0% 8%;
  height: 100vh;
}

.tc-container p {
  margin-top: 2%;
  text-align: center;
  font-size: 2.5rem;
}

.tc-container p img {
  width: 30px;
  height: 30px;
}

.tc-container p span {
  text-align: center;
  color: #ed8c22;
}

.tc-description {
  margin: 0 22%;
  font-size: 1.2rem !important;
}

.numbers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10% 0%;
}

.list {
  height: 20vh;
  width: 100%;
  margin: 2% 1%;
}

.list p {
  text-align: center;
  justify-content: center;
  font-size: 5rem !important;
  font-weight: bolder;
  color: #ed8c22;
}

.list :nth-child(2) {
  border: 2px solid red;
  font-size: 1.2rem !important;
  color: rgb(144, 130, 130);
  font-weight: 500;
}
